* {
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width ;
  }
  

body{
    margin: 0; 
    padding: 0; 
}
.brand-title{
    text-decoration:none; 
}
a{
    color: white; 
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color:white;
    padding-bottom:20px; 
    padding-top:20px; 
}

.brand-title{
    font-size: 1.5rem;
    margin:.5rem;
    color:white; 
}

.navbar-links ul{
    margin:0;
    padding:0;
    display:flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    font-size:17px; 
    color:white;
    padding:1rem;
    display:block
}

.navbar-links li:hover{
    background-color: #555;
}

.toggle-button{
    position: absolute;
    top: 1.8rem;
    right:1rem;
    display:none;
    flex-direction:column;
    justify-content: space-between;
    width:30px;
    height:21px; 
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 700px){
    .toggle-button{
        display:flex;
    }

    .navbar-links{
       display:none;
        width:100%;
     
    }

    .navbar{
        flex-direction: column; 
        align-items:flex-start;
       
    }

    .navbar-links ul{
        width:100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align:center; 
    }

    .navbar-links li a{
        padding:.5rem 1rem; 
    }

    .navbar-links.active {
        display:block;
    }

}


.header{
    position: relative;
    text-align: center;
}
.imgHeader{
    width:100%; 
    max-width:100%;
    display: inline-block;
    height: 100vh;
    margin-bottom:-250px; 
    object-fit: cover;
}

.title{
    position: absolute;
    margin-top:-3200px; 
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);     
}

.welcome{
     margin-bottom: -15px; 
     font-size: 30px;    
    
}

.Asian{
    margin-top:20px; 
    font-size:20px; 
     
}



.woods{
    margin-bottom:5px;
   
}

.apacc{
    margin-top:0px; 
}



@keyframes zoom-out{

    from{
        transform: scale(0);
    }

    to{
        transform: scale(1);
    }

    
}

@media screen and (min-width: 821px) {
    .title {
      font-size: 25px;
      padding-right:40px; 
      padding-left: 40px;
      padding-bottom:10px; 
      width:700px;
      height:auto;
      padding-top:-10px;
      padding-bottom: 30px;
      text-align:center; 
      background-color: rgba(144, 117, 117, 0.8);
      border: solid black 8px; 
      margin-top:50px; 
      margin-bottom: -100px; 
    }
    .Asian{
        margin-bottom: 0px; ;
    }
    .welcome{
        font-size:45px; 
        margin-bottom:0px; 
    }

    .woods{
        margin-top:5px; 
    }
    .blurb{
        font-size:30px; 
        padding-right:15px;
        padding-left:15px;
    }

    .sec2{
        margin-top:130px;
        padding-top: 200px;
        padding-bottom: 170px;
        border:black solid 2px;
        margin-bottom: 80px; 
    }
    
    .imgHeader{
        margin-bottom:-80px; 
    }

    .sec3{
        display:flex; 
        flex-direction: row;
        background-color:bisque; 
        border:black solid 2px; 
    }

    .sec3Photo{
        width:35%;
        height:35%; 
        margin-left:20%; 
        border: black solid 2px; 
        margin-top:5%;
        margin-right:5%;
        margin-bottom:5%
    }

    .sec3Words{
        margin-right:0%; 
        padding-left:10%; 
        margin-top:5%; 
        font-size:25px; 
    }

    .sec4{
        display:flex;
        flex-direction: row; 
        margin-top:5%; 
        background-color:bisque;
        border: black solid 2px; 
    }

    .sec4Photo{
        width:30%;
        height:30%;
        margin-left:5%;
        margin-top:5%;
        margin-bottom:5%;
        border: black solid 2px; 
    }

    .sec4Words{
        margin-left:10%;
        margin-top:10%;
        font-size:20px; 
    }

    .joinButt{
        margin-left:20%;
        color:red; 
        padding:2%; 
    }

    .wordButt{
        font-size:30px; 
    }

    .sec5{
        display:flex;
        flex-direction: row;
        background-color: bisque;
        margin-top:5%;
        border:black solid 2px;
    }

    .sec5Photo{
        width:30%;
        height:30%;
        margin-left:20%;
        margin-top:5%;
        margin-bottom:5%;
        border: black solid 2px; 
    }

    .sec5Words{
        margin-left:7%;
        margin-top:11%;
        font-size: 25px;
    }

    .Butt5{
        font-size:25px;
    }

    .teamButt{
        margin-left:20%;
    }

  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 820px) {
    .title {
      padding-right: 70px;
      padding-left:70px; 
      display: inline-block;
      height: 27vh;
      padding-bottom:-100px; 
      position: relative; 
      text-align:center;
      font-size: 17px;
      margin-top:-300px; 
      background-color: rgba(10, 135, 87, 0.8);      border: solid black 8px; 
      color: rgb(38, 33, 27);
      margin-bottom:400px;

    }

.header{
    margin-bottom:-100px; 
}

    .welcome{
        font-size:28px; 
        margin-bottom:0px; 
    }
    .Asian{
        font-size:14px; 
        margin-top:0px; 
    }

    .woods, .apacc{
        font-size:30px;
        margin-top:8px; 
        font-weight: bolder;
        margin-bottom:10px; 
    }
    .sec2{
        padding-bottom: 150px; 
        margin-bottom:-900px; 
        border:black solid 2px; 
    }

    .what{
        margin-bottom:0px; 
    }

    .blurb{
        margin-top:10px; 
        padding-right:15px; 
        padding-left:15px; 
        font-size:20px; 
          
    }
   .sec3{
    background-color: bisque;
    padding:10px;
    margin-bottom:50px; 
    display:flex; 
    flex-direction: row;
    border:black solid 2px; 
   }

   .sec3Photo{
    width:50%;
    height:50%;
    margin-left:10%;
    border: black solid 2px; 
   }
   .sec4{
    display:flex;
    flex-direction:row;
    background-color:bisque;
    border:black solid 2px; 
   }
   .sec4Photo{
    width:35%;
    height:35%;
    margin-left:5%;
    margin-top:5%;
    margin-bottom:5%;
    border: black solid 2px; 
   }

   .sec4Words{
    margin-left:3%;
    margin-top:10%;
   }

   .joinButt{
    margin-left:20%;
    padding:2%; 
}

.wordButt{
    font-size:20px; 
}

.sec5{
    background-color:bisque;
    display:flex;
    flex-direction:row;
    margin-top:10%;
    border: black solid 2px;
}

.sec5Photo{
    width:30%;
    height:30%;
    margin-top:5%;
    margin-bottom:5%; 
    margin-left:12%;
    border: black solid 2px; 
}

.sec5Words{
    margin-left:7%;
    margin-top:7%
}
.teamButt{
    margin-left: 20%;
    font-size:20px;
}
  }

  @media screen and (max-width: 420px) {
    
    .title {
        padding-right: 60px;
        padding-left:60px; 
        display: inline-block;
        height: 17vh;
        width:300px; 
        position: relative; 
        text-align:center;
        font-size: 17px;
        margin-top:-500px; 
        background-color: rgba(186, 61, 81, 0.8);     
        border: solid black 8px; 
        color: rgb(38, 33, 27);


    }

    .welcome{
        font-size:15px; 
        margin-bottom:0px;
        padding-top:10px;  
    }
    .Asian{
        font-size:8px; 
        margin-top:0px; 
    }

    .woods, .apacc{
        font-size:17px;
        margin-top:8px; 
        font-weight: bolder;
        margin-bottom:10px; 
    }
    .imgHeader{
        width:100%; 
        max-width:100%;
        display: inline-block;
        height: 100vh;
        margin-bottom:-450px; 
        object-fit: cover;
    }

    .sec3{
        font-size:60px; 
        color:blue; 
    }
    .words{
        margin-left:500%; 
        font-size:30px; 
        text-align:center; 
        padding-left:-10px; 
        padding-right:-20px;
    }
    .memberButton{
        text-align:center; 
        font-size: 16px;
        font-size: 300px;
    }
    .sec2{
        padding-bottom: 150px; 
        margin-bottom:-900px; 
        border:black solid 2px; 
    }

    .what{
        margin-bottom:0px; 
    }

    .blurb{
        margin-top:10px; 
        padding-right:15px; 
        padding-left:15px; 
        font-size:20px; 
          
    }
   .sec3{
    background-color: bisque;
    padding:10px;
    margin-bottom:50px; 
    display:flex; 
    flex-direction: row;
    border:black solid 2px; 
   }

   .sec3Photo{
    width:50%;
    height:50%;
    margin-left:10%;
    border: black solid 2px; 
   }
   .sec4{
    display:flex;
    flex-direction:row;
    background-color:bisque;
    border:black solid 2px; 
   }
   .sec4Photo{
    width:35%;
    height:35%;
    margin-left:5%;
    margin-top:5%;
    margin-bottom:5%;
    border: black solid 2px; 
   }

   .sec4Words{
    margin-left:3%;
    margin-top:10%;
   }

   .joinButt{
    margin-left:20%;
    padding:2%; 
}

.wordButt{
    font-size:20px; 
}

.sec5{
    background-color:bisque;
    display:flex;
    flex-direction:row;
    margin-top:10%;
    border: black solid 2px;
}

.sec5Photo{
    width:30%;
    height:30%;
    margin-top:5%;
    margin-bottom:5%; 
    margin-left:12%;
    border: black solid 2px; 
}

.sec5Words{
    margin-left:7%;
    margin-top:7%
}
.teamButt{
    margin-left: 20%;
    font-size:20px;
}
    
    
  }

  .sec2{
    text-align:center; 
    padding-top:150px;
    margin-bottom: 80px; 
    background-color: bisque;
  }

.what{
    font-size:50px; 
}

.wordButt{
    color:red; 
}





  
